@use 'variables' as *;

.about {
    text-align: center;
    padding: 50px 20px;
    background: url('../assets/images/background.jpg') no-repeat center center/cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

// Estilos mejorados para la imagen de perfil arriba y centrada
.about-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -50px;
    z-index: 2;
    width: 100%;
}

.about-image img {
    width: 100%;
    max-width: 350px;
    border-radius: 50%;
    filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: translateY(-10px) scale(1.05);
    }
}

// Contenedor y estilo para el título de la sección Sobre Mí
.about-title-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: fit-content;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    margin-top: 30px;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
    }
}

.about-title {
    font-size: 2rem;
    color: rgba(9,81,139,255);
    font-weight: bold;
    margin-bottom: 10px;
}

.section-subtitle {
    font-size: 1.2rem;
    color: rgba(16,11,5,255);
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
}

// Contenedor para la descripción Perfil Profesional
.about-content {
    background: rgba(255, 255, 255, 0.85);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: rgba(16,11,5,255);
    position: relative;
    z-index: 1;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 800px;
    &:hover {
        transform: translateY(-5px) scale(1.05);
        box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3), -10px -10px 25px rgba(255, 255, 255, 0.6);
    }
}