@use 'variables' as *;

.contact {
    .contact-form {
        background-color: rgba(31, 48, 76, 0.8);
        color: $text-light;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba($text-dark, 0.05);
        

        .form-control {
            background-color: rgba(255, 255, 255, 0.2);
            color: $text-light;
            border: 1px solid rgba($text-light, 0.5);
            padding: 0.75rem;
            

            &:focus {
                box-shadow: none;
                border-color: $primary-color;
            }   

        }
        
        textarea.form-control {
            resize: none;
        }
        
        .btn {
            background-color: $accent-color;
            color: $text-light;
            padding: 0.75rem 2rem;
        }
    }
} 