.education {
    .education-item {
        background-color: rgba(31, 48, 76, 0.8); // Fondo oscuro semitransparente
        color: $text-light; // Texto claro
        padding: 1rem;
        border-radius: 8px;
        margin-bottom: 1rem;
    }
} 